#linka {
    position: absolute;
    font-size: 24px;
    color: blue;
}

.back {
    position: relative;
    margin-left: 30%;
    background-color: gray;
    height: 300px;
    width: 300px;
}